/*
	-- begin reset
*/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}body{line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}nav ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}ins{background-color:#ff9;color:#000;text-decoration:none;}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}del{text-decoration:line-through;}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input,select{vertical-align:middle;}

/*
	-- end reset
*/

html {
	height: 100%;
}

body {
	font-family: "Verdana", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	height: 100%;
	background-color: #A7B1C6;
}

#loading {
	opacity: 0.6;
}

#loading svg {
	margin: auto;
	overflow:visible;
} 

#wrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	height: 100%;
}

header, article {
	font-weight: 800;
	color: #000;
}

header {
	margin-top: 3rem;
}

header h1 {
	font-size: 3rem;
	display: none;
}

article {
	max-width: 65%;
	margin: 0 auto;
}

#output {
	font-size: 3rem;
}

#output.animate {
	-webkit-transition: opacity 0.5s ease-out;
	-moz-transition: opacity 0.5s ease-out;
	-ms-transition: opacity 0.5s ease-out;
	-o-transition: opacity 0.5s ease-out;
	-transition: opacity 0.5s ease-out;
	transition: opacity 0.5s ease-out;
}

noscript {
	font-weight: 800;
	font-size: 3rem;
	margin: 4rem 0;
}

#output .heading {
	font-size: 2rem;
}

#output  .heading::after {
	content: '\2026';
}

#output .idea {
	margin: 3rem 0;
}

#generate {
	text-decoration: none;
	font-size: 2rem;
	color: #000;
}

#generate:hover {
	text-decoration: underline;
	color: black;
}

aside {
	position: absolute;
	margin: 12px 8px;
	right: 0;
	top: 0;
}

#share li {
	list-style: none;
	display: inline;
}

footer {
	align-self: end;
	text-transform: none;
	text-align: right;
	line-height: 1.25rem;
	font-size: 1rem;
	color: #666;
	margin: 1rem 2rem;
}

footer a {
	text-decoration: none;
	color: #26101E;
}

footer a:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 992px) {
	article {
		max-width: 85%;
	}

	footer div#tip {
		display: none;
	}
	
	footer {
		font-size: 2rem;
	}

	#output {
		font-size: 3.5rem;
	}

	#output .heading {
		font-size: 3rem;
	}

	#generate {
		font-size: 3rem;
	}
}